<ion-view view-title="Schedule">
	<ion-content class="customBgColor">
		<div class="list">
			<div ng-repeat="event in schedule">
				<div class="item item-divider balanced">
					{{ event.data }} - {{event.oraInizio}}
				</div>
				<div></div>
				<a class="item">
					<span style="font-weight: bold; font-size: high">
						{{ event.titolo }}</span> <br><br> <b>Relatori</b> <br>
					<span ng-repeat="relatori in event.relatori">{{relatori.nome}} {{relatori.cognome}} <br></span>
				</a>
			</div>
		</div>
	
	</ion-content>
</ion-view>

