<ion-view view-title="Homepage">
	<ion-content class="padding customBgColor">
		<div class="text-center">
			<img ng-src="../img/{{logo}}" alt="Innovation Workshop Logo" width="100%"></div>
		</div>
		<h2 class="text-center positive" style="margin-bottom: 30px;">Innovation Workshop</h2>
		<p class="text-justify">{{ description }}</p>
		<br>
		<h4 class="positive">Location</h4>
		<p class="text-justify">{{ location }}</p>
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3021.695759408436!2d14.789823850438498!3d40.768715841980246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x133bc5c7456b88bd%3A0x80bab96149d2993d!2sUniversit%C3%A0+degli+Studi+di+Salerno!5e0!3m2!1sit!2sit!4v1487849026458" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
		<br>
		<h4 class="positive">Presenters</h4>
		<p class="text-justify">{{ presenters }}</p>
	</ion-content>
</ion-view>
	