<ion-view view-title="Homepage">
	<ion-content class="padding">
		<div class="text-center">
			<img src="../img/logo.png" alt="Innovation Workshop Logo" width="100%"></div>
		</div>
		<h2 class="text-center positive" style="margin-bottom: 30px;">Innovation Workshop</h2>
		<p class="text-justify">{{ description }}</p>
		<br>
		<h4 class="positive">Location</h4>
		<p class="text-justify">{{ location }}</p>
		<br>
		<h4 class="positive">Presenters</h4>
		<p class="text-justify">{{ presenters }}</p>
	</ion-content>
</ion-view>
	